.ml10 {
  margin-left: 10px;
}

.main-color {
  color: #0067d3;
}

//button-info颜色
.van-button--info {
  background-color: #0067d3;
  border: #0067d3;
}

//导航按钮激活颜色
.van-tabbar-item--active {
  color: #0067d3;
}
